@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&family=Roboto:wght@400;500&display=swap");

$offwhite: #eee8d6;
$darkblue: #022933;
$yellow: #ffba00;
$blue: #0076a3;
$green: #548c27;
$orange: #f39856;
$red: #d14348;
$purple: #6d73c2;

$color-main: $darkblue;
$color-backgrounds: $offwhite;
$color-headlines: $red;

$font-main: "Roboto", Helvetica, sans-serif;
$font-highlight: "Bree Serif", Helvetica, sans-serif;

body {
  margin: 0;
  padding: 0;
  font-family: $font-main;
  color: $color-main;
  background-color: $color-backgrounds;
  width: 45%;
  margin: 0 auto;
  font-weight: 500;
}

h1 {
  margin: 20px 0;
  font-size: 2.2rem;
}

ol {
  margin: 0;
  padding: 0;

  li {
    display: inline-block;
    border-top: 2px red dotted;
    padding: 10px 0;

    a {
      text-decoration: none;

      p {
        margin: 0;
        padding: 0;
        color: $darkblue;
        font-size: 0.85rem;
      }

      img {
        margin-right: 10px;
        float: left;
      }
      h2 {
        margin: 0;
        padding: 0;
        color: $blue;
        font-size: 1.1rem;
      }
    }
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: $color-headlines;
}
